<%# <h1>Tasks#tasks</h1>
<p>Find me in app/views/tasks/tasks.html.erb</p> %>

<h1>My Tasks</h1>

<% @tasks.each do |t| %>
  <p><%= t.completed %> - <%= link_to t.title, task_path(t) %>
<% end %>

<div>
  <%= link_to '+ Add new task', new_path %>
</div>
